<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/111k-atletismo</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">lamadrid</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.connection.autocommit">true</property>
        
        <!-- enitades persistentes -->
        <mapping resource="resources/hbm/Aspirante.hbm.xml"/>
        <mapping resource="resources/hbm/Categoria.hbm.xml"/>
        <mapping resource="resources/hbm/Competencia.hbm.xml"/>
        <mapping resource="resources/hbm/Escuela.hbm.xml"/>
        <mapping resource="resources/hbm/Estado.hbm.xml"/>
        <mapping resource="resources/hbm/Inscripcion.hbm.xml"/>
    
  </session-factory>
</hibernate-configuration>